/**********************************/
/********** General CSS ***********/
/**********************************/
body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}

a {
    color: #FF6F61;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
        margin-bottom: 20px;
    }
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    padding: 3px 0;
    font-size: 14px;
    color: #FF6F61;
    background: #000000;
}

.top-bar i {
    margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
    text-align: left;
}

.top-bar .col-sm-6:last-child {
    text-align: right;
}

@media (max-width: 575.98px) {
    .top-bar {
        border-bottom: 1px solid rgba(255,255,255,.1);
    }
    
    .top-bar .col-sm-6:first-child,
    .top-bar .col-sm-6:last-child {
        text-align: center;
    }
}

/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    padding: 8px 0;
    background: #ffffff;
    margin-bottom: 0px;
}

.one{
    height:100px;
    width: 180px;
    align: center;
   
}
.two{
    width: 50px;
}
.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
    

}
.logo {
    height: 100%;
}

.logo a img {
    height: 100px;
    width: 180px;
    margin-top: -15px;
} 



.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar .user .wishlist {
    margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color: #FF6F61;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
    color: #FF6F61;
    font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
    color: #ffffff;
}

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
    
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar .user {
        margin-bottom: 0;
    }

}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
        margin-bottom: 20px;
       
}
.hideo {
    display: none;
}
}
.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #FF6F61;
}

.nav .dropdown-menu a.active {
    color: #353535;
    background: #f8f9fa;
}

@media (min-width: 800px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
        margin-bottom: 20px;
       
}
.hideo {
    display: none;
}
}
.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #000000;
}

.nav .dropdown-menu a.active {
    color: #ffffff;
    background: #000000;
}
.nav .dropdown-menu a {
    color: #ffffff;
    background: #000000;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    .hideo {
        display: none;
    }
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #f37e7e;
    }
}


@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    

}

/**********************************/
/*********** Header CSS ***********/
/**********************************/
.header {
    position: relative;
}

.header .col-md-3,
.header .col-md-9 {
    margin-bottom: 5px;
}

.header .navbar {
    padding: 0;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    background: #000000 !important;
    
}

.header .navbar-nav {
    width: 100%;
    padding: 15px 0;
}

.header .navbar li {
    padding: 0 30px;
    border-bottom: 1px solid #f3f6ff;
}

.header .navbar li:last-child {
    border-bottom: none;
}

.header .navbar a {
    color: #ffffff;
}
.header .navbar a:hover {
    color: #FF6F61;
}


.header .navbar i {
    color: #FF6F61;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}

.header .navbar a:hover i {
    color: #fafafa;
}

#slider {
	overflow: hidden;
    height: 400px;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
    height: 355px;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

@media (mix-width: 767px) {
    .hidea {
        display: none;
       
}

/**********************************/
/********** Footer CSS ************/
/**********************************/
footer {
    background-color: black;
    padding: 90px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.loggo {
    width: 180px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: blanchedalmond;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.right-texts {
    color: #888;
    font-family: lato;
}

.rigt-col h1 {
    font-size: 26px;
}

.border {
    width: 100px;
    height: 4px;
    background: #fc5c56;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: blanchedalmond;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btn {
    padding: 18px 40px;
    font-size: 16px;
    color: blanchedalmond;
    background: #fc5c56;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    transition: opacity .3s linear;
}

.btn:hover {
    opacity: .7;
}

